.contact {
  margin-top: 9%;
}

#big_letter {

}


#kare1, #kare3 {
  -webkit-animation: rotate-center 60s linear infinite both;
  animation: rotate-center 60s linear infinite both;
}

#kare2 {
  -webkit-animation: rotate-center 60s linear infinite reverse both;
  animation: rotate-center 60s linear infinite reverse both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}