#contactAlign {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----- contact page animation ----*/

/* #kare1,
#kare3 {
  -webkit-animation: rotate-center 60s linear infinite both;
  animation: rotate-center 60s linear infinite both;
}

#kare2 {
  -webkit-animation: rotate-center 60s linear infinite reverse both;
  animation: rotate-center 60s linear infinite reverse both;
} */


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}

.btn-danger {
  background-color: #147b67 !important;
  color: #ffc86b !important;
  border: none !important;
}

.btn-danger:hover {
  background-color: #2f292d !important;
  border: none !important;
}

.form-check-input:checked {
  background-color: #147b67 !important;
  color: #ffc86b !important;
}

#contactImg {
  padding-right: 8rem;
}

@media only screen and (max-width: 1100px) {
  #contactImg {
    padding-right: 0;
  }
}

@media only screen and (max-width: 770px) {
  #contactImg,
  #form {
    padding: 30px;
  }
}
