.navBarLeft,
.navBarLeft i {
  background: #2f292d;
  color: #ffc86b;
}

i {
  color: #2f292d;
}

.input {
  background: #ffc86b !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}
