.new-line {
  white-space: pre-line;
}

/*-------nav -------*/

a.nav-link {
  padding: 16px 20px !important;
}

.navBarLeft i {
  background: #2f292d;
  color: #ffc86b;
}

.navBarLeft {
  height: 100%;
  background: #2f292d;
  color: #ffc86b;
}

.navBarLeft a {
  padding: 15px;
}

.wrapperVertical {
  min-height: 100vh;
  max-height: 100%;
}

.wrapperVertical .nav {
 
}

.wrapperHorizantal {
  min-width: 100%;
}

.navBarTop, .navBarTop i {
  background: #2f292d;
  color: #ffc86b;
}

.navBarTop i {
  padding: 15px;
}

.navBarLeftAlign {
  display: flex;
}

/*----- form ------*/

.input {
  background: #ffc86b !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}

/*---- modal -----*/

.modalImg {
  border-radius: 30px;
  width: 100%;
}

.modalText {
  padding: 2rem 1rem;
}

.modalTitle {
  font-weight: 600;
  color: white !important;
}

.modal-header, .modal-footer {
  border: none !important;
}

.modal-content {
  border-radius: 20px !important;
}

.modal .btn-primary {
  color: #2f292d !important;
  background-color: #ffc86b;
  border-color: #ffc86b !important;
  border-radius: 12px !important;
}

.modal .btn-primary:hover {
  color: #ffc86b !important;
  background-color: #2f292d;
  border-color: #2f292d !important;
}

.as .input{
  background-color: red !important;
}
