.new-line {
  white-space: pre-line;
}

/*-------nav -------*/

a.nav-link {
  padding: 16px 20px !important;
}

.navBarLeft i {
  background: #2f292d;
  color: #ffc86b;
}

.navBarLeft {
  height: 100%;
  background: #2f292d;
  color: #ffc86b;
}

.navBarLeft a {
  padding: 15px;
}

.wrapperVertical {
  min-height: 100vh;
  max-height: 100%;
}

.wrapperVertical .nav {
  padding-top: 74vh;
}

.wrapperHorizantal {
  min-width: 100%;
}


.navBarTop, .navBarTop i {
  background: #2f292d;
  color: #ffc86b;
}

.navBarTop i {
  padding: 15px;
}

.navBarLeftAlign {
  display: flex;
}

i {
  color: #2f292d;
}

/*----- form ------*/

.input {
  background: #ffc86b !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}