html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffc86b !important;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}


.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
}