html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffc86b !important;
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  height: 100%;
}

.pageTitle {
  margin: 2rem 1rem;
}
