html {
  min-height: 100%;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffc86b !important;
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  height: 100%;
}

a,
.btn,
input:hover,
label:hover,
textarea:hover {
  cursor: none !important;
}



.pageTitle {
  margin: 1rem 2rem;
}

.movable {
  width: 30px;
  height: 30px;
  background: #6ec3b3;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s;
}

.movable.active {
  background: url("/assets/click_hand.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.movable.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
